// Header

.mainHeader {
  height: 100vh;
  max-height: 1000px;
  min-height: 800px;
  background: url(../assets/header-home.jpg) center / cover;
  position: relative;
}

.hamburgerMenu {
  font-size: 5rem;
  align-self: center;
  position: fixed;
  z-index: 10;
  top: 43px;
  right: 40px;
  display: none;
  opacity: 0;
}

.mainHeaderNavFlex {
  display: flex;
  justify-content: flex-end;

  .mainHeaderNav {
    width: 50%;
    min-width: 400px;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }
}

.mainHeaderImageFlex {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  width: 54%;
  min-width: 600px;
  justify-content: flex-end;
  position: relative;
  right: 100px;

  h1 {
    width: 80%;
    margin: 45px 0;
  }
}

.mainHeaderImage {
  width: 100%;

  img {
    width: 700px;
    object-fit: cover;
  }
}

// Section 1- Materials

.materials {
  display: flex;
  align-items: center;
  min-height: 400px;
}

.materialsFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.materialsText {
  width: 66%;
  margin: 25px;
  margin-bottom: 0;
  margin-top: 0;

  p {
    width: 90%;
  }


  .linkButton {
    @include linkButton();
  }
}

.materialsImage {
  width: 330px;
  height: 330px;

  img {
    width: 100%;
    box-shadow: -10px 10px 0 5px $yellow;
  }
}

// main images

.mainImages {
  background: $mint;
  min-height: 500px;
  display: flex;
  align-items: center;

}

.mainImagesFlex {
  display: flex;
  justify-content: space-between;

}

.mainImageContainer {
  width: 380px;
  margin-right: 20px;
  }

.mainImageContainer:last-of-type {
  margin-right: 0;
}

.mainImages img {
  width: 100%;
  display: block;
}

// features

.mainFeaturesFlex1 {
  min-height: 500px;
  display: flex;
  align-items: center;
  margin: 20px 0;
 

  i {
    font-size: 2rem;
    position: absolute;
    top: 14px;
  }

  .featuresIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;

    .iconBackground {
      background: $yellow;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      align-self: flex-start;
    }
  }
}

.customizedFlex,
.communityFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  width: 50%;
}

.featuresText1,
.featuresText2,
.featuresText3,
.featuresText4 {
  display: flex;
  height: 200px;
}

// benefits sections

.mainBenefits {
  
  background: $mint;
}

.benefitsWrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.benefitsFlexContainer1,
.benefitsFlexContainer2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 700px;
  position: relative;
  
}

.emptyFlex {
  width: 100px;
}

.benefitsText1,
.benefitsText2 {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 400px;
}

.benefitsText1 {
  justify-content: flex-end;
  align-self: flex-end;
  position: absolute;
  right: 60px;
  bottom: 0;

  h2 {
    align-self: flex-end;
  }

  p {
    text-align: right;
  }

  .linkButton {
    @include linkButton();
  }
}

.benefitsText2 {
  align-self: flex-end;
  text-align: right;
  position: absolute;
  left: 60px;
  

  p {
    text-align: left;
  }

  .linkButton {
    @include linkButton();
  }

  }

.benefitsImage img {
  width: 100%;
  display: block;
}

.benImgOne img {
  box-shadow: 10px 10px 0 5px $yellow;
  position: absolute;
  left: -60px;
  top: -30px;
  
}

.benImgTwo img {
  box-shadow: -10px 10px 0 5px $yellow;
  position: absolute;
  right: -60px;
  bottom: -50px;
 
}

// section 5 - style search image

.styleSearchImage img {
  width: 100%;
  object-fit: cover;
}

// section 6 - style search

.styleSearchFlex {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .styleSearchText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  p {
    padding: 10px 0 20px 0;
  }

  .linkButton {
    @include linkButton();
  }

  
}

// footer

footer {
  display: flex;
  justify-content: center;
  background: $black;

  p {
    color: $offWhite;
    padding: 10px 0;
    font-size: 1.5rem;
  }
}

